@media (max-width: 823px) {
    body {
        width: 100%;
        background-image: none;
    }

    .cover-anime {
        background-image: none !important;
    }

    .poster-mobile {
        height: auto;
        margin: 0 auto;
    }

    .poster-mobile img {
        display: block;

    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        font-size: 18px;
        padding: 10px;
    }

    .menu {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .realease-info {
        width: 100%;
    }

    .breadcrumb {
        display: none;
    }

    .button-episode {
        display: flex;
        flex-wrap: wrap;
    }

    .button-episode a {
        padding-bottom: 10px;
    }

    .anime-player iframe {
        height: 200px;
        border-radius: 0px;
    }

    .release {
        width: calc(33.33333% - 16px);
        margin-bottom: 16px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .release-c {
        width: calc(33.33333% - 16px);
        margin-bottom: 16px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .numb-ep {
        width: 50px;
        font-size: 12px;
    }

    .main {
        flex-direction: column;
    }

    .new-item {
        flex-wrap: wrap;
    }

    .new-item img {
        width: 100%;
    }

    .info-table {
        width: 100%;
    }

    .page-404 img {
        width: 100%;
    }

}


@media (max-width: 400px) {
    .release {
        width: calc(50% - 24px);
        margin-bottom: 16px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .release-c {
        width: calc(50% - 24px);
        margin-bottom: 16px;
        margin-left: 12px;
        margin-right: 12px;
    }



}