@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Mulish', sans-serif;
  color: #eeeeee;
  height: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
  background-color: #15171e;
  display: flex;
  flex-direction: column;
}

/* Меню */

.navigation {
  display: flex;
  align-items: center;
  margin: 25px 80px 15px 80px;
  flex: 0 0 auto;
}


.logo img {
  width: 200px;
}

.menu {
  display: flex;
  padding-left: 25px;
  flex-grow: 1;
}

.menu a {
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: .3s ease;
  text-shadow: 1px 1px 1px rgba(26, 26, 26, 0.555);
}

.menu a:hover {
  color: #fff;
}

.soc-seti {
  text-align: right;
  display: flex;
}

.soc-seti a {
  color: #ffffff;
  padding: 0px 10px 0px 10px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: .3s ease;
}


/* гл.стр */
.anime-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  padding-bottom: 80px;
  margin-left: 80px;
  margin-right: 80px;
  flex-grow: 1;
}

.release-c {
  width: calc(14.2% - 12px);
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  text-align: center;
}

.release-c img {
  width: 100%;
}

.release-c a {
  text-decoration: none;
}

.release-c p {
  margin: 0px 10px 0px 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #a6a4a6;
}

/* Страница релиза */
.cover {
    z-index: -3;
    width: 100%;
    position: absolute;

}

.cover img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.cover-anime {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 300px;
  max-width: 1280px;
}

.realease-info {
  text-align: center;
  max-width: 650px;
  margin-top: 25px;
  font-size: 18px;
  margin-bottom: 50px;
}

.cover-anime h1 {
  padding: 0;
  margin: 0px;
  text-align: center;
}

.cover-anime h2 {
  padding: 0;
  margin: 0px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 100;
  color: #858585;
}


/* Жанры */
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.categories a {
  text-decoration: none;
}


.zhanr {
  padding: 8px;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #d6d6d6;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}



/* 404 */
.page-404 {
  flex: 1 0 auto;
  margin: 20px;
}

.page-404 img {
  width: 500px;
  border-radius: 8px;
}


/* Плеер и комментарии */
.anime-player {
  position: static;
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-height: auto;
  max-height: none;
  min-width: auto;

}

.anime-player iframe {
  width: 100%;
  border-radius: 8px;
}

.comments {
  margin-top: 25px;
  border-radius: 25px;
}
