@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Gilroy-Regular', sans-serif;
  color: #eeeeee;
  height: 100%;
}

body {
  width: 1280px;
  text-align: center;
  background-image: url(/img/bg.webp);
  background-size: auto;
  background-color: #15171e;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 25px 20px 15px 20px;
  flex: 0 0 auto;
}


.logo img {
  width: 200px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  flex: 1 0 auto;
}

.main h2 {
  padding: 0px 0px 10px 0px;
  margin: 0;
}

.new-item {
  width: 100%;
  display: flex;
  text-align: left;
  background-color: #eeeeee;
  color: #15171e;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 14px 8px 8px 14px;
}

.new-item img {
  width: 300px;
  border-radius: 8px 0px 0px 8px;
}

.new-item a {
  text-decoration: none;
  font-weight: 600px;
}

.text-news {
  padding: 20px;
}

.menu {
  display: flex;
  padding-left: 25px;
  flex-grow: 1;
}

.menu a {
  padding: 15px;
  color: #a6a4a6;
  text-decoration: none;
  font-size: 18px;
  transition: .3s ease;
}

.menu a:hover {
  color: #fff;
}

.donat {
  text-align: right;
  display: flex;
}

.donat a {
  background-color: #ffb300;
  padding: 10px 76px;
  border-radius: 8px;
  color: #15171e;
  font-weight: 600;
  text-decoration: none;
  transition: .3s ease;
}

.donat a:hover {
  background-color: #ffd36c;
}

/* гл.стр */
.anime-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-left: 7px;
  margin-right: 7px;
  flex-grow: 1;
}

.numb-ep {
  z-index: 2;
  position: absolute;
  width: 90px;
  font-weight: 600;
  border-radius: 0px 5px 5px 0px;
  margin-top: 15px;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  color: #15171e;
  background-color: #ffb300;
}

.release {
  width: calc(20% - 12px);
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
}

.release img,
.release-c img {
  max-width: 100%;
  transition: .5s ease;
}

.release,
.release-c:hover img {
  filter: saturate(135%);
  filter: contrast(115%);
}

.release-c {
  width: calc(16.6% - 6px);
  margin-bottom: 6px;
  margin-left: 3px;
  margin-right: 3px;
}

.podval {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 20px 20px 20px;
  flex-shrink: 0;
}

.podval a {
  padding: 15px;
  color: #a6a4a6;
  text-decoration: none;
  font-size: 18px;
  transition: .3s ease;
}

.podval i {
  color: #ffb300;
  padding-bottom: 20px;
  transition: .3s ease;
}

.podval i:hover {
  color: white;
}

.page-404 {
  flex: 1 0 auto;
  margin: 20px;
}

.page-404 img {
  width: 500px;
  border-radius: 8px;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}