@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Gilroy-Regular', sans-serif;
  color: #eeeeee;
  height: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
  background-color: #15171e;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 25px 80px 15px 80px;
  flex: 0 0 auto;
}


.logo img {
  width: 200px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  flex: 1 0 auto;
}

.main h2 {
  padding: 0px 0px 10px 0px;
  margin: 0;
}

.new-item {
  width: 100%;
  display: flex;
  text-align: left;
  background-color: #eeeeee;
  color: #15171e;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 14px 8px 8px 14px;
}

.new-item img {
  width: 300px;
  border-radius: 8px 0px 0px 8px;
}

.new-item a {
  text-decoration: none;
  font-weight: 600px;
}

.text-news {
  padding: 20px;
}

.menu {
  display: flex;
  padding-left: 25px;
  flex-grow: 1;
}

.menu a {
  padding: 15px;
  color: #a6a4a6;
  text-decoration: none;
  font-size: 18px;
  transition: .3s ease;
}

.menu a:hover {
  color: #fff;
}

.donat {
  text-align: right;
  display: flex;
}

.donat a {
  color: #ffb300;
  padding: 0px 10px 0px 10px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: .3s ease;
}

.donat a:hover {
  color: #ffffff;
}

/* гл.стр */
.anime-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  padding-bottom: 80px;
  margin-left: 80px;
  margin-right: 80px;
  flex-grow: 1;
}

.release-c {
  width: calc(14.2% - 6px);
  margin-bottom: 6px;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
}

.release-c img {
  width: 100%;
}
.release-c a {
  text-decoration: none;
}


.release-c p {
  margin: 0px 10px 0px 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #a6a4a6;
}

.page-404 {
  flex: 1 0 auto;
  margin: 20px;
}

.page-404 img {
  width: 500px;
  border-radius: 8px;
}

.endserial {
  background-color: #ffb300;
  padding: 10px 76px;
  border-radius: 8px;
  font-size: 20px;
  color: #15171e;
  font-weight: 600;
  text-decoration: none;
  margin: 0px 15px 15px 15px;
}